@font-face {
	font-family: "monteserrat";
	src: url('../fonts/Montserrat-Light.ttf');
}

body {
	font: 20px "monteserrat", Helvetica, Arial, sans-serif;
	margin: 0;
	margin-top: -2.25%;
}

.header{
	background-color: #24292E;
	padding-top: 2%;
	padding-bottom: 1%;
	height: 100%;
	border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

h1{
	text-align: center;
	font-size: 40px;
	padding-top: 1%;
	color: white;
}

.content{
	width: 70%;
	height: 100%;
	margin-left: 15%;
}

table{
	width: 100%;
}
tr{
	width: 100%;
}

th{
	padding-top: 2.5%;
	padding-bottom: 1.5%;
}

td{
	width: 25%;
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}
