<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/viewpatient.css' />
  </head>
  <body>
  	<div class="header">
    	<h1>Patient List</h1>
    </div>
    <div class="content">
      <h3>The bill for <%= patient.name %> is <%= bill %></h2>
    </div>
  </body>
</html>
