<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <h1>Hospital Management System</h1>
    </div>
    <div class="content"> 
    <div class="form">
      <form class="" action="/login" method="post">
        <label for="email">Email :</label><br>
        <input type="text" name="email" value=""><br>
        <label for="password">Password :</label><br>
        <input type="password" name="password" value=""><br>
        <label for="profile">Select profile :</label><br>
        <input type="text" name="profile" value=""><br>
        <button type="submit">Submit</button>
      </form>
    </div>
    </div>
  </body>
</html>
