<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hospital Management System</h1>
    <form class="" action="/login" method="post">
      <label for="email">Email :</label>
      <input type="text" name="email" value=""><br>
      <label for="password">Password :</label>
      <input type="password" name="password" value=""><br>
      <label for="profile">Select profile :</label>
      <input type="text" name="profile" value=""><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
